<p>
  <b>Title:</b>
  <%=h @media.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @media.description %>
  
</p>

<p>
<%= image_tag @media.photo.url(:original) rescue nil %>
</p>

<%= link_to 'Edit', edit_media_path(@media) %> |
<%= link_to 'Back', medias_path %>