<h1>Listing geologies</h1>

<table class="list">
  <tr>
    <th>Name</th>
	<th></th>
    <th> </th>
    <th> </th>

  </tr>

<% for geology in @geologies %>
  <tr>
    <td><%=h geology.name %></td>
    <td><%= link_to 'Show', geology %></td>
    <td><%= link_to 'Edit', edit_geology_path(geology) %></td>
    <td><%= link_to 'Delete', geology, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '&nbsp New geology |', new_geology_path %>
<%= link_to 'Back to Projects', projects_path %>
