    <% form_for @user do |form| %>  
    <%= form.error_messages %>  
    <ol class="formList">  
     <p>  
        <%= form.label :username, "Username" %>  
        <%= form.text_field :username %>  
      </p>  
      <p>  
        <%= form.label :email, "Email" %>  
       <%= form.text_field :email %>  
     </p>  
     <p>  
      <%= form.label :password, "Password" %>  
       <%= form.password_field :password %>  
     </p>  
     <p>  
       <%= form.label :password_confirmation, "Password confirmation" %>  
       <%= form.password_field :password_confirmation %>  
     </p>  
	 
	<% if can? :manage, @Project %>
	  <p>
	  <%= form.label :roles %>  
      <%= form.collection_select :role, User::ROLES, :to_s, :humanize %>     
	 </p>
	<% end %> 
	 
     <p>  
       <%= form.submit "Submit" %>  
     </p>  
   </ol>  
   <% end %>  