<div id="header"><%= image_tag('logo.png') %>
  <form>
  
   

	<% if current_user %>
     <%= current_user.username.titleize %> |	
     <%= link_to "EDIT |", edit_user_path(:current) %>  
     <%= link_to "LOGOUT |", logout_path %>  
   <% else %>     
     <%= link_to "LOG IN |", login_path %>  
	

   <% end %> 
 </form>   
  
</div>