<div id="header"><%= image_tag('logo.png') %>
  <form action="/search" name="search" method="">

	<% if current_user %>  
     <%= link_to "EDIT PROFILE |", edit_user_path(:current) %>  
     <%= link_to "LOGOUT |", logout_path %>  
   <% else %>  
     <%= link_to "REGISTER |", new_user_path %>  
     <%= link_to "LOG IN |", login_path %>  
   <% end %> 
    <label for="keyword">SEARCH
      <input id="keyword" name="keyword" class="text" type="text">
    </label>
    <input src="/images/submit_arrow.png" type="image">
  </form>
  
</div>