<h1>Listing Clients</h1>
<br>

<table class= "list">
  <tr>
	<th></th>
    <th>Name</th>
    </tr>

<% for client in @clients %>



 		 <tr class="<%= alternate %>">		
			<td width ="60px">
              <%= link_to (image_tag("list-icons/icon-view-off.png", :border => 0, :mouseover => "list-icons/icon-view-on.png"), :action =>'show', :id => client.id) %>
              <%= link_to (image_tag("list-icons/icon-edit-off.png", :border => 0, :mouseover => "list-icons/icon-edit-on.png"), :action =>'edit', :id => client.id) %>
              <%= link_to (image_tag("list-icons/icon-delete-off.png", :border => 0, :mouseover => "list-icons/icon-delete-on.png"), client, :confirm => 'Are you sure?', :method => :delete) %>
            </td>
		
           
            <td><%=h client.name %></td>
          </tr>
 
<% end %>
</table>

<br />


<%= link_to 'New client', new_client_path %>