<h1>Editing designer</h1>

<% form_for(@designer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @designer %> |
<%= link_to 'Back', designers_path %>