<h1>Edit Project</h1>
<br>
<% form_for(@project) do |f| %>
  <%= f.error_messages %>
<table class = "form">
  <tr>
    <td class="input-long" input-long colspan="3"><label for="project_name">Name:</label><br><%= text_field 'project', 'name' %></td>
	
    <td class="input-small"><label for="project_number">Number</label>
      :<br>
      <%= text_field 'project', 'number' %> </td>
    <td><label for="project_owner">Owner:</label>
	<%= collection_select(:project,:owner_id,@owners,:id,:name) %> </td>
  </tr>
  <tr>
    <td><%= link_to 'Country', {:controller => 'countries' }  %><br/>
      <%= collection_select(:project,:country_id,@countries,:id,:name) %> </td>
    <td><%= link_to 'State', {:controller => 'states' }  %><br/>
      <%= collection_select(:project,:state_id,@states,:id,:name) %> </td>
    <td><label for="project_city">City:</label><br>
	<%= text_field 'project', 'city' %> </td>
    <td class="input-small"><label for="project_type">Project Type:</label>
	<br>
      <%= collection_select(:project,:type_id,@types,:id,:name) %> </td>
    <td><label for="project_activity">Activity:</label>
	<%= collection_select(:project,:activity_id,@activities,:id,:name) %> </td>
  </tr>
</table>

<br>

<table class = "form">
<tr>
  <td><label for="project_client">Client</label>
    : <%= collection_select(:project,:client_id,@clients,:id,:name) %> </td>

 <td><label for="project_Designer">Designer</label>
    : <%= collection_select(:project,:designer_id,@designers,:id,:name) %> </td>
  <td><label for="project_contractor">Contractor</label>
    : <%= collection_select(:project,:contractor_id,@contractors,:id,:name) %> </td>
	<td><label for="project_published">Published on Website :</label><br>
  <%= radio_button :project, :published, "true" %>Yes <%= radio_button :project, :published, "false" %>No </td>

</tr>
</table>

<br>

<table class = "form">
<tr>
  <td class="input-date"><label for="project_commencement_date">Commencement Date:</label>
		<br>
		<%= calendar_field 'project', 'commencement_date',
       { :class => 'date',         
         :field_title => 'Commencement',
         :button_title => 'Show calendar' },
       { :firstDay => 1,
         :range => [1920, 2100],
         :step => 1,
         :showOthers => true,
         :cache => true }%> </td>
		 
	  <td class="input-date"><label for="project_completion_date">Completion Date:</label><br>
    <%= calendar_field 'project', 'completion_date',
       { :class => 'date',         
         :field_title => 'Completion',
         :button_title => 'Show calendar' },
       { :firstDay => 1,
         :range => [1920, 2100],
         :step => 1,
         :showOthers => true,
         :cache => true }
      %> </td>  
	  
<td><label for="project_currency">Currency</label>:<br>
  <%= collection_select(:project,:currency_id,@currencies,:id,:name) %></td>
  
		<td class="input-small"><label for="project_estimated_cost">Estimated Cost:</label><br>
		<%= text_field 'project', 'estimated_cost' %> </td>
	
		<td class="input-small"><label for="project_bid_price">Bid Price:</label><br>
		<%= text_field 'project', 'bid_price' %> </td>

		<td class="input-small"><label for="project_final_cost">Final Cost:</label><br>
		<%= text_field 'project', 'final_cost' %> </td>

  </tr>
</table>

<br>


  <table class = "form">
    <tr>
    <tr>
      <td colspan="2"><label for="project_services_performed">Services Performed</label>
        <br/>
        <%= text_area 'project', 'services_performed', :cols =>10, :rows => 10 %> </td>
    </tr>
	
	  </table>
  
  <br>
  
  <table class="form">
	<tr>
    <td colspan="2"><label for="project_geology">Geology</label>
        <br/>
        <%= text_area 'project', 'geology', :cols =>10, :rows => 10 %> </td>
    </tr>
	  </table>
  
  <br>
  
  <table class="form">
	
	<tr>
    <td colspan="2"><label for="project_technical_data">Technical Data</label>
        <br/>
        <%= text_area 'project', 'technical_data', :cols =>10, :rows => 10 %> </td>
    </tr>
	
	  </table>
  
  <br>
  
  <table class="form">
    <tr>
  
    <td colspan="2"><label for="project_full_description">Description</label>
        <br/>
        <%= text_area 'project', 'description', :cols =>10, :rows => 10 %> </td>
    </tr>
  </table>
  
  <br>
  
  <table class="form">
    <tr>
      <td class="input-small"><label for="project_unit">Unit:</label><br>
		<br>
        <%= collection_select(:project,:unit_id,@units,:id,:name) %> </td>
      <td class="input-small"><label for="project_overburden_min">Overburden:</label><br>
		<br>
        <label for="project_overburden_min">Min:</label><br>
		<%= text_field 'project', 'overburden_min' %><br><br>
        <label for="project_overburden_max">Max:</label><br>
		<%= text_field 'project', 'overburden_max' %> </td>
      <td class="input-small"><label for="project_overburden_min">Excavation Area:</label>
		<br>
        <br>
        <label for="project_excavation_area_min">Min:</label><br>
		<%= text_field 'project', 'excavation_area_min' %><br>
        <br>
        <label for="project_excavation_area_max">Max:</label><br>
		<%= text_field 'project', 'excavation_area_max' %> </td>
      <td class="input-small"><label for="project_overburden_min">Tunnel Length:</label>
		<br>
        <br>
        <label for="project_tunnel_length_min">Min:</label><br>
		<%= text_field 'project', 'tunnel_length_min' %><br>
        <br>
        <label for="project_tunnel_length_max">Max:</label><br>
		<%= text_field 'project', 'tunnel_length_max' %> </td>
	
    <tr>
  </table>
  
  <br>
  
  <table class = "form">
    <tr>
      <td width=25%><label for="project_category">
        <h2>Project Category</h2>
        </label>
        <br/>
        <% for category in Category.find(:all) %>
        <div> <%= check_box_tag"project[category_ids][]",category.id,@project.categories.include?(category) %> <%= category.name %> </div>
        <% end %>
      </td>
      <td width=25%><label for="project_service">
        <h2>Project Service Areas</h2>
        </label>
        <br/>
        <% for service in Service.find(:all) %>
        <div> <%= check_box_tag"project[service_ids][]",service.id,@project.services.include?(service) %> <%= service.name %> </div>
        <% end %>
      </td>
      <td width=25%><label for="project_construction_method">
        <h2>Construction Method</h2>
        </label>
        <br/>
        <% for construction_method in ConstructionMethod.find(:all) %>
        <div> <%= check_box_tag"project[construction_method_ids][]",construction_method.id,@project.construction_methods.include?(construction_method) %> <%= construction_method.name %> </div>
        <% end %>
      </td width=25%>
      <td><label for="project_construction_technique">
        <h2>Special Construction Technique</h2>
        </label>
        <br/>
        <% for construction_technique in ConstructionTechnique.find(:all) %>
        <div> <%= check_box_tag"project[construction_technique_ids][]",construction_technique.id,@project.construction_techniques.include?(construction_technique) %> <%= construction_technique.name %> </div>
        <% end %>
      </td>
    </tr>
	
    </tr>
  </table>	
<br>
  <table class = "form">
  <tr>  
  
    <tr>
      <td width=33%><label for="project_geology">
        <h2>Geology</h2>
        </label>
        <br/>
        <% for geology in Geology.find(:all) %>
        <div> <%= check_box_tag"project[geology_ids][]",geology.id,@project.geologies.include?(geology) %> <%= geology.name %> </div>
        <% end %>
      </td>
      <td width=33%><label for="project_tunneling_under">
        <h2>Tunneling Under</h2>
        </label>
        <br/>
        <% for tunneling_under in TunnelingUnder.find(:all) %>
        <div> <%= check_box_tag"project[tunneling_under_ids][]",tunneling_under.id,@project.tunneling_under.include?(tunneling_under) %> <%= tunneling_under.name %> </div>
        <% end %>
      </td>
      <td width=33%><label for="project_groundwater_control">
        <h2>Groundwater Control</h2>
        </label>
        <br/>
        <% for groundwater_control in GroundwaterControl.find(:all) %>
        <div> <%= check_box_tag"project[groundwater_control_ids][]",groundwater_control.id,@project.groundwater_control.include?(groundwater_control) %> <%= groundwater_control.name %> </div>
        <% end %>
      </td>
    </tr>
  </table>
  <br>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>