

<h1>Edit Project</h1>
<br>
<% form_for(@project) do |f| %>
  <%= f.error_messages %>
  
  	 <div id="mlist">
      <label for="project_media">Project Media</label><br>
     
	  <% for medium in @media  %>	
		<% content_tag_for :div, medium do %>  	  
	       <%= link_to image_tag(medium.photo.url(:thumbnail)), medium.photo.url(:original), :class => "top_up" %>
		    <div class="desc">
	        <%= link_to medium.title, medium_path(medium) %><br>
			<%= truncate(medium.description, :length => 20) %>
		  </div>
		<% end %>
		
		<script type="text/javascript">
		  TopUp.images_path = "/images/top_up/";
          TopUp.addPresets({
            ".top_up": {
            group: "images",
            layout: "quicklook",
                         }}) </script> 
		
		
		
	  <% end %>  
</div>     
  
  <%= sortable_element('mlist',:tag =>'DIV', :constraint => false, :url => sort_projects_path) %> 
	
	

  
  
<%= render @project %>
	
	
 
  
  
  
  <br>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>