


<h1>Listing Projects</h1><br>

								
<% if @projects.blank? %>
  <p>No Projects to Display.</p>
	
	<% else %>
	    <table class = "list">
		<tr>
			<th></th>   
			<th>Number</th>
			<th>Name</th>
			<th>City</th>
			<th>Commencement Date</th>
			<th>Completion Date</th>
			
		</tr>
 
    <% @projects.each do |c| %>
	
		
		<tr class="<%= alternate %>">
			
			
			<td>
		<table id="list-icons">
				<tr><td>
				<%= link_to (image_tag("list-icons/icon-view-off.png", :border => 0, :mouseover => "list-icons/icon-view-on.png"), :action =>'show', :id => c.id) %></td><td>
				<%= link_to (image_tag("list-icons/icon-edit-off.png", :border => 0, :mouseover => "list-icons/icon-edit-on.png"), :action =>'edit', :id => c.id) %></td><td>
				<%= link_to (image_tag("list-icons/icon-delete-off.png", :border => 0, :mouseover => "list-icons/icon-delete-on.png"), :action =>'destroy', :id => c.id) %></td>
				</tr>
		</table>
			</td>
			<td><%=h c.number%></td>
			<td><%=h c.name %></td>
			<td><%=h c.city %></td>
			<td><%=h c.commencement_date %></td>
			<td><%=h c.completion_date %></td>
			<td></td>			
		</tr>
	
    <% end %>
<% end %>
</table>
<br>









<%= link_to 'New project', {:action => "new"} %>
</div>



