<h1>Listing Countries</h1>
<br>

<table class= "list">
  <tr>
	<th></th>
    <th>Symbol</th>
    <th>Name</th>
    </tr>

<% for country in @countries %>

 <tr class="<%= alternate %>">
 			<td>
		<table id="list-icons">
				<tr><td>
				<%=
				link_to (image_tag("list-icons/icon-view-off.png",
				:border => 0,
				:mouseover => "list-icons/icon-view-on.png"),
				:action =>'show', :id => country.id)
				%>
				</td>
				<td>
				<%=
				link_to (image_tag("list-icons/icon-edit-off.png",
				:border => 0,
				:mouseover => "list-icons/icon-edit-on.png"),
				:action =>'edit', :id => country.id)
				%>
				</td>
				<td>
				<%=
				link_to (image_tag("list-icons/icon-delete-off.png",
				:border => 0,
				:mouseover => "list-icons/icon-delete-on.png"),
				:action =>'destroy', :id => country.id)
				%></td>
				</tr>
		</table>
			</td>
    <td><%=link_to country.symbol, country %></td>
    <td><%=h country.name %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New country', new_country_path %>
