<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
<title>Dr. G. Sauer Corp::Project DB::</title>
<%= stylesheet_link_tag "style" %>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "header.css" %>
<%= dhtml_calendar_includes %>
</head>
<body>

<div id="header"><%= image_tag('logo.png') %>
  <form action="/search" name="search" method="">
    <a href="#>HOME</a> | <a href="http://dr-sauer.com/site">SITE INDEX</a> | <a href="#">LOG IN</a> |
    <label for="keyword">SEARCH
      <input id="keyword" name="keyword" class="text" type="text">
    </label>
    <input src="/images/submit_arrow.png" type="image">
  </form>
</div>
<div id="top-nav">
	<ul>
			<li class=""><label for="keyword"><a href="http://dr-sauer.com"> <span>HOME</span></a></label></li>
			 <li class=""><label for="keyword"><a href="#"><span>PROJECTS</span></a></label></li>
			 <li class=""><label for="keyword"><a href="#"><span>MEDIA</span></a></label></li>
			 <li class=""><label for="keyword"><a href="#"><span>RISK</span></a></label></li>
			 
	</ul>
</div>

<div  class="wrapper">

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</div>
</body>
</html>
